<div class="max-w-4xl max-sm:max-w-lg mx-auto p-6 mt-6">
  <div class="text-center mb-12 sm:mb-16">
    <a href="javascript:void(0)"><img
      src="https://readymadeui.com/readymadeui.svg" alt="logo" class='w-44 inline-block' />
    </a>
    <h4 class="text-slate-600 text-base mt-6">Regístrate en tu cuenta</h4>
  </div>

  <form>
    <div class="grid sm:grid-cols-2 gap-8">
      <div>
        <label class="text-slate-800 text-sm font-medium mb-2 block">Nombre</label>
        <input name="name" type="text" class="bg-slate-100 w-full text-slate-800 text-sm px-4 py-3 rounded focus:bg-transparent outline-blue-500 transition-all" placeholder="Ingresa tu nombre" />
      </div>
      <div>
        <label class="text-slate-800 text-sm font-medium mb-2 block">Apellido</label>
        <input name="lname" type="text" class="bg-slate-100 w-full text-slate-800 text-sm px-4 py-3 rounded focus:bg-transparent outline-blue-500 transition-all" placeholder="Ingresa tu apellido" />
      </div>
      <div>
        <label class="text-slate-800 text-sm font-medium mb-2 block">Correo Electrónico</label>
        <input name="email" type="text" class="bg-slate-100 w-full text-slate-800 text-sm px-4 py-3 rounded focus:bg-transparent outline-blue-500 transition-all" placeholder="Ingresa tu correo" />
      </div>
      <div>
        <label class="text-slate-800 text-sm font-medium mb-2 block">Número de Móvil</label>
        <input name="number" type="number" class="bg-slate-100 w-full text-slate-800 text-sm px-4 py-3 rounded focus:bg-transparent outline-blue-500 transition-all" placeholder="Ingresa tu número móvil" />
      </div>
      <div>
        <label class="text-slate-800 text-sm font-medium mb-2 block">Contraseña</label>
        <input name="password" type="password" class="bg-slate-100 w-full text-slate-800 text-sm px-4 py-3 rounded focus:bg-transparent outline-blue-500 transition-all" placeholder="Ingresa tu contraseña" />
      </div>
      <div>
        <label class="text-slate-800 text-sm font-medium mb-2 block">Confirmar Contraseña</label>
        <input name="cpassword" type="password" class="bg-slate-100 w-full text-slate-800 text-sm px-4 py-3 rounded focus:bg-transparent outline-blue-500 transition-all" placeholder="Confirma tu contraseña" />
      </div>
    </div>

    <div class="mt-12">
      <button type="button" class="mx-auto block py-3 px-6 text-sm font-medium tracking-wider rounded text-white bg-blue-600 hover:bg-blue-700 focus:outline-none">
        Registrarse
      </button>
    </div>
  </form>
</div>
