<app-head></app-head>
<div class="max-w-5xl mx-auto bg-gray-100 p-10 rounded">
    <div>
      <h2 class="text-slate-900 text-2xl font-bold mb-4">Your Content Section Title</h2>
      <p class="text-slate-600 leading-relaxed text-base">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <div class="mt-4">
        <a href="javascript:void(0);" class="text-blue-500 font-semibold hover:underline text-base">Read more...</a>
      </div>
    </div>
  </div>
<app-footer></app-footer>